{% extends 'partials/_master.twig' %}

{% block main %}

<div class="featuredVideo">
	<div class="video-overlay">
		<div class="video-title quote">
			<h1 class="">{{record.bannertext}}</h1>
		</div>
	</div>
	<video autoplay muted loop id="example">
		<source src="{{ asset('video.mp4', 'files')}}">
	</video>	
</div>

<div class="container content clearfix">
	<div class="section">
		<h1 class="title">{{record.title}}</h1>	
		{{record.content}}
	</div>
</div>

{% endblock main %}